{{define "navbar"}}
<div>
    <div class="navbar">
        <div class="flex-1">
          <h1 class="btn btn-ghost text-xl">Funder</h1>
        </div>
        <div class="nav-end">
          <!-- Open modal -->
          <button class="btn btn-primary" onclick="my_modal_3.showModal()">Add New</button>
          <!-- Modal definition -->
          <dialog id="my_modal_3" class="modal">
            <div class="modal-box">
              <!-- Close button -->
              <form method="dialog">
                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
              </form>
              <!-- Form inside modal with HTMX -->
              <form class="flex flex-col align-center justify-center gap-4 p-4"
                    hx-post="/new"
                    hx-trigger="submit"
                    hx-target="#projects"
                    hx-swap="innerHTML"
                    hx-on:htmx:after-request="if (event.detail.xhr.status === 200) { closeModal(); showToast(`Product added successfully`); }">
                <input type="text" name="name" placeholder="Enter product name" required>
                <input type="text" name="description" placeholder="Enter description" required>
                <input type="email" name="email" placeholder="Enter your email" required>
                <input type="file" name="image" id="image">
                <input type="number" name="users" placeholder="Number of users">
                <button type="submit" class="btn btn-secondary">Add</button>
              </form>
            </div>
          </dialog>
        </div>
    </div>
</div>
{{end}}