
{{define "projects"}}
<div class="">
    {{range .data}}
    <div class="w-full p-2">
        <div class="rounded-lg">
            <div class="p-4 text-center flex flex-col items-center">
                <img src="{{.Image}}" alt="product image" class="h-64">
                <div class="flex flex-row justify-center items-center gap-2">
                <p class="text-xl font-bold">{{.Name}}</p>
                <p class=" text-xl">users: <span>{{.Users}}</span></p>
                <a href="{{.Url}}" target="_blank">visit</a>
                </div>
                <p class=" text-lg ">{{.Description}}</p>
            </div>
        </div>
    </div>
    {{end}}
</div>
{{end}}
