
{{define "projects"}}
<div class="flex flex-wrap justify-center items-center">
    {{range .data}}
    <div class="w-2/3 p-2">
        <div class="bg-white rounded-lg shadow-md">
            <div class="p-4 text-center">
                <img src="{{.Image}}" alt="product image" class="h-72 w-2/3">
                <p class="text-black text-xl font-bold mb-2 block">{{.Name}}</p>
                <p class="text-black text-lg ">{{.Description}}</p>
                <p class="text-black text-lg">Users: <span>{{.Users}}</span></p>
            </div>
        </div>
    </div>
    {{end}}
</div>
{{end}}
